@import url('normalize.css');
@import url('skeleton.css');

/*fonts*/
@font-face {
  font-family: 'Raleway';
  src: local('Raleway'), url(http://fonts.gstatic.com/s/raleway/v9/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2'), url(http://fonts.gstatic.com/s/raleway/v9/IczWvq5y_Cwwv_rBjOtT0w.woff) format('woff');
}

/*headings*/
h1, h2, h3, h4, h5, h6 {
  font-family: monospace;
  font-weight: 500;
  text-transform: uppercase;
  color: #dedede;
  letter-spacing: 1.0px;
  transition: all 0.8s ease-in;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  margin: 0;
  color: #777;
  font-size: 1.4em;
  font-weight: 600;
  letter-spacing: 1px;
}
p , label {
  font-size: 1em;
}

header .background, section.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
}
header h1, header h2 {
  font-size: 5em;
  color: #fff;

  text-transform: none;
  text-align: center;
}
footer h1, footer h2 {
  color: #fff;
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 1px;
}
/*content*/
section.welcome {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: rgba(47,48,51,0.7);

  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.7px;
  line-height: 22px;
  color: #fff;
}
section.welcome .container {
  padding-top: 35px;
  padding-bottom: 35px;
  min-height: 400px;
}
footer {
  padding-left: 0;
  padding-right: 0;
  padding-top: 50px;
  background-color: rgba(47,48,51,0.7);
}
ul {
  list-style-type: none;
  color: #9c9b9b;
}
li {
  margin: 0;
}
a {
  color: #dedede;
  text-decoration: none;
  font-size: 1em;
  letter-spacing: 1px;
  transition: all 0.2s ease;
}
a:hover {
  color: #fff;
}
/*mobile fisrt layout from here*/
header .background {
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;

  height:100vh;
  width: 100%;
  background-position: center 50%;
  background-size: cover;
  background-image: url('../img/overlay.svg');
  background-image: url('../img/overlay.svg'), linear-gradient(45deg, rgba(0,0,0,0) 0%, rgba(255,255,255,0) 100%), linear-gradient(45deg, #555 0%, #fff 100%);
}
header .background .fade-out {
  background: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
}

.space {
  height:100vh;
}

/*form stuff*/
input[type=text], input[type=email], textarea {
  width: 80%;
  border-radius: 0;
  opacity: 0.7;
  color: #333;
}
button {
  border-radius: 0;
  background-color: #fefefe;
}

.contact-success, .contact-error {
  display: none;
}
/*.error-name, .error-email, .error-message {
  color: #b30000;
  margin-bottom: 0;
  display: none;
}
.error-button {
  margin-top: 10px;
  display: none;
}*/

/*bigger than iPhone 6*/
@media only screen and (min-width: 670px){
  .welcome {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

/*title colors*/
body.time header h1 { font-size: 4em; text-shadow: 1px 1px 2px rgba(20,20,20,0.3); transition: all 1.2s; }
body.early-morning h1, body.early-morning h2 { color: #E74C3C; }
body.morning h1, body.morning h2 { color: #F2B749; }
body.early-noon h1, body.early-noon h2 { color: #FFFC18; }
body.noon h1, body.noon h2 { color: #ABFF3B; }
body.afternoon h1, body.afternoon h2 { color: #6EFF97; }
body.early-evening h1, body.early-evening h2 { color: #71EFFF; }
body.evening h1, body.evening h2 { color: #1E6BFF; }
body.night h1, body.night h2 { color: #843AFF; }


/*background colors*/
body.early-morning header .background { background-image: url('../img/overlay.svg'), linear-gradient(0deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 1) 80%), linear-gradient(0deg, #BC4C3C 0%, #BC4C3C 100%); }
body.early-morning section.welcome { background-color: rgba(47, 48, 51, 0.8); }
body.morning header .background { background-image: url('../img/overlay.svg'), linear-gradient(0deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 1) 80%), linear-gradient(0deg, #F2B749 0%, #E74C3C 100%); }
body.morning section.welcome { }
body.early-noon header .background { background-image: url('../img/overlay.svg'), linear-gradient(0deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 1) 80%), linear-gradient(0deg, #FFFC18 0%, #F2B749 100%); }
body.early-noon section.welcome { }
body.noon header .background { background-image: url('../img/overlay.svg'), linear-gradient(0deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 1) 80%), linear-gradient(0deg, #ABFF3B 0%, #FFFC18 100%); }
body.noon section.welcome { }
body.afternoon header .background { background-image: url('../img/overlay.svg'), linear-gradient(0deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 1) 80%), linear-gradient(0deg, #6EFF97 0%, #ABFF3B 100%); }
body.afternoon section.welcome { }
body.early-evening header .background { background-image: url('../img/overlay.svg'), linear-gradient(0deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 1) 80%), linear-gradient(0deg, #71EFFF 0%, #6EFF97 100%); }
body.early-evening section.welcome { }
body.evening header .background { background-image: url('../img/overlay.svg'), linear-gradient(0deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 1) 80%), linear-gradient(0deg, #1E6BFF 0%, #71EFFF 100%); }
body.evening section.welcome { background-color: rgba(47, 48, 51, 0.8); }
body.night header .background { background-image: url('../img/overlay.svg'), linear-gradient(0deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 1) 80%), linear-gradient(0deg, #843AFF 0%, #1E6BFF 100%); }
body.night section.welcome { background-color: rgba(47, 48, 51, 0.8); }
